.ProjectPage {
  height: 65%;
  width: 50%;
  position: absolute;
  overflow: hidden;
  color: white;
  border-width: 0.15rem;
  border-radius: 15px;
  border-style: solid;
  /* text-align: center; */
  /* justify-content: center; */
  /* align-items: center; */
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(5px);
  top: 35%;
  left: 50%;
}
.ButtonContainer {
  position: relative;
  justify-content: right;
  text-align: right;
  /* right: 1%; */
  /* top: 0.5em; */
  /* flex-grow: 1; */
  height: 5%;
}

.ExitButton {
  position: inherit;
  right: 0.5em;
  top: 0.3em;
}

.TextContainer {
  /* top: 35%; */
  position: relative;
  text-align: left;
  flex-direction: row;
  justify-content: left;
  overflow: auto;
  padding-left: 10px;
  padding-right: 10px;
  flex-grow: 1;
  font-size: 12pt;
}

a.link {
  text-decoration: none;
  max-width: fit-content;
  color: rgb(7, 145, 209);
}

h4 {
  max-width: fit-content;
  display: contents;
  font-size: 16pt;
}

@media only screen and (max-width: 767px) {
  .ProjectPage {
    width: 85%;
  }
}
