.NameText {
  height: 38%;
  width: 30%;
  position: absolute;
  overflow: hidden;
  color: white;
  border-width: 0.15rem;
  border-radius: 15px;
  border-style: solid;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(5px);
  top: 40%;
  left: 50%;
}
h1.fullName {
  position: relative;
  bottom: 25px;
  font-size: 20pt;
}
@media only screen and (max-width: 767px) {
  .NameText {
    width: 85%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .NameText {
    width: 65%;
  }
}
