.NavBar {
  overflow: hidden;
  height: 8%;
  width: 50%;
  position: absolute;
  color: white;
  border-width: 0.15rem;
  border-radius: 15px;
  border-style: solid;
  text-align: left;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(5px);
  top: 77%;
  left: 50%;
}
.Intro,
.Projects,
.LinkedIn,
.GitHub {
  position: relative;
  justify-content: center;
  text-align: center;
  /* top: 30%; */
  border-right: 2px solid white;
  height: 102%;
  width: 25%;
  text-decoration: none;
  color: white;
}
.reLinks {
  position: relative;
  top: 10%;
}

button {
  background-color: transparent;
  /* background-repeat: none; */
  color: white;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 12pt;
}
.LinkedIn {
  border-right: none;
}
